ul {
  list-style-type: none;
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding-left: 0px;
}

.add-product {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.add-product-btn {
  flex-basis: 45%;
}

.w3-modal-content {
  height: 320px;
}
form {
  margin-top: 15px;
}
