li {
  border-bottom: 1px solid rgb(216, 213, 208);
  display: flex;
}
.order-info {
  flex-basis: 35%;
}
.order-images {
  border-left: 2px solid rgb(231, 224, 224);
  flex-basis: 50%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.order-admin-delete {
  display: flex;
  align-items: center;
  flex-basis: 15%;
}
