.product-img {
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 5px;
  width:  280px;
  height: 250px;
}

li {
  margin-right: 8px;
}
.add-to-cart-div {
  margin-left: 15px;
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.add-to-cart-btn {
  margin-top: 5px;
  width: 65%;
  display: flex;
  justify-content: center;
}

.qty {
  margin-top: 9px;
  margin-bottom: 4px;
  width: 45%;
  height: 30px;
}
