.logout {
  margin-left: 30px;
  border-radius: 50%;
}
.user-btns {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}

.container{
  width: 80%;
  height: 80%;
}

.myNav {
  width: 100%;
  display: flex;
}
.myNav-OurProducts {
  margin-left: 50px;
  margin-top: 7px;
  flex-basis: 80%;
  color: antiquewhite;
  font-size: large;
}
