<div class="root">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="myNav" *ngIf="this.authService.loggedIn | async">
      <a class="myNav-OurProducts" routerLink="/products" routerLinkActive="active">See Our products</a>
      <div class="user-btns">
        <button *ngIf="this.authService.isAdmin | async; else elseBlock" type="button" class="btn btn-outline-warning" routerLink="/orders" routerLinkActive="active">All Orders</button>
        <ng-template #elseBlock>
          <button type="button" class="btn btn-outline-light" routerLink="/cart" routerLinkActive="active">Your Cart</button>
          <button type="button" class="btn btn-outline-light" routerLink="/orders" routerLinkActive="active">Your Orders</button>
        </ng-template>
        <button type="button" class="btn btn-secondary logout" routerLink="/logout" routerLinkActive="active">logout</button>
      </div>
    </div>
  </nav>
</div>
<div style="margin-top: 55px;" class="container">
  <router-outlet></router-outlet>
</div>



