.orders {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  list-style: none;
  border: 2px solid rgb(227, 225, 233);
  overflow-y: scroll;
}
.fade-in {
  animation: fadeIn 0.5s
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1;}
}



